body {
    font-family: Arial, sans-serif;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.tab-button {
    text-decoration: none;
  font-weight: bold;
  display: inline-block;
  color: #fff56f;
  border-radius: 25px;
  font-size: 150%;
  color: rgb(255, 73, 73);
  background-color: #234099;
  border: 2px solid #0e193b;
  cursor: pointer;
  padding: 3px 10px;
}


.tab-button:hover {
    color: #234099;
    background-color: rgb(255, 73, 73);
}

.pagina {
    display: none;
    text-align: center;
    padding: 20px;
}

.pagina h1 {
    font-size: 24px;
}

.pagina p {
    font-size: 16px;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
 }